<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
  <!-- <link rel="stylesheet" href="../static/bootstrap.css"> -->
  <!-- <link rel="stylesheet" href="../static/form.css"> -->
  <title>Clinica | Cadastro</title>
</head>

<body>

  <div class="container">

    <form action="{{ url_for('clientes_cadastro') }}" method="POST">

      <img src="static/img/logo/Retangulo1.png" alt="" width="50%">
      <!-- <img src="../static/img/logo/Retangulo1.png" alt="" width="50%"> -->
      <h2>Clinica</h2>

      <div class="form-group">
        <label for="nomeClinica">
          <h4> Nome</h4>
        </label>
        <input type="text" name="nome" placeholder="Nome da clinica" class="form-control" id="nomeClinica"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="razaoSocialClinica">
          <h4>Razão social</h4>
        </label>
        <input type="text" name="razao_social" placeholder="Razão social" id="razaoSocialClinica" class="form-control">
      </div>

      <div class="form-group">
        <label for="cnpjClinica">
          <h4>CNPJ</h4>
        </label>
        <input type="text" name="cnpj" placeholder="CNPJ da clinica" id="cnpjClinica" class="form-control">
      </div>

      <div class="form-group">
        <label for="enderecoClinica">
          <h4>Endereco</h4>
        </label>
        <input type="text" name="endereco" placeholder="Endereço" id="enderecoClinica" class="form-control">
      </div>

      <div class="form-group">
        <label for="emailClinica">
          <h4>E-mail</h4>
        </label>
        <input type="text" name="emailClinica" placeholder="E-mail da clinica" id="emailClinica" class="form-control">
      </div>

      <div class="form-group">
        <label for="telefone_residencial_clinica">
          <h4>Número telefone</h4>
        </label>
        <input type="text" name="tel_residencial_clinica" placeholder="Número do telefone da clinica"
          id="telefone_residencial_clinica" class="form-control">
      </div>

      <div class="form-group">
        <label for="telefone_movel_clinica">
          <h4>Telefone celular</h4>
        </label>
        <input type="text" name="telefone_movel_clinica" placeholder="Número do celular da clinica"
          id="telefone_movel_clinica" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>

    </form>
  </div>

</body>

</html>