<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <form action="{{ url_for('clientes_cadastro') }}" method="POST" >
    <h1>ITEM</h1>
    <input type="text" name="nome" placeholder="Nome do cliente"><br>
    <input type="text" name="cpf" placeholder="CPF"><br>
    <input type="text" name="endereco" placeholder="Endereço do cliente"><br>
    <input type="text" name="tel_residencial" placeholder="Número do telefone residencial"><br>
    <input type="text" name="tel_movel" placeholder="Número do telefone/celular"><br>
    <button type="submit">Cadastrar</button>

  </form>

</body>
</html>

