<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    {% block clientes_todos %}
  
    <!-- <ul> -->
        {% for cliente in lista_clientes %}
          <!-- <li> -->
              <h1 href="{{ cliente }}">{{ cliente}}</h1>
            <!-- </li> -->
        {% endfor %}
        <!-- </ul> -->

    {% endblock %}

</body>
</html>
