<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
  <!-- <link rel="stylesheet" href="/src/css/"> -->
  <title>Document</title>
</head>

<body>
  {% block atualizar_cliente %}
  <div class="container">


    <form action="{{ url_for('atualizar_cliente') }}" method="POST">

      <img src="../static/img/logo/Retangulo1.png" alt="" width="50%">
      <h2>Atualiza Cliente</h2>
      <h2>ID {{dados_cliente[0]}}</h2>

      <div class="form-group">
        <label for="nomeCliente">
          <h4> Nome:</h4>
        </label>
        <input type="text" name="nome" value="{{dados_cliente[2]}}" class="form-control" id="nomeCliente"
          class="form-control">
      </div>


      <div class="form-group">
        <label for="enderecoCliente">
          <h4>Endereço:</h4>
        </label>
        <input type="text" name="endereco" value=" {{dados_cliente[3]}}" id="enderecoCliente" class="form-control">
      </div>

      <div class="form-group">
        <label for="telefoneResidencialCliente">
          <h4>Telefone residencial:</h4>
        </label>
        <input type="text" name="tel_residencial" value=" {{dados_cliente[4]}}"
          id="telefoneResidencialCliente" class="form-control">
      </div>

      <div class="form-group">
        <label for="telefoneCelularCliente">
          <h4>Telefone celular: </h4>
        </label>
        <input type="text" name="tel_movel" value="{{dados_cliente[5]}}" id="telefoneCelularCliente"
          class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
  </div>
  {% endblock %}
</body>

</html>